*/.project
*/.classpath
*/.settings/*
*/target/*
*/test-output/*
*.log
*.iml
*.jks
*.jar
*/log4j.xml
apifest-oauth20/src/main/resources/apifest-oauth.properties
apifest-oauth20/src/main/java/com/apifest/oauth20/security/LDAPUserAuthentication.java
target/MANIFEST.MF
*.project
apifest-oauth20/src/main/resources/log4j.xml
