oauth20.host=
oauth20.port=

oauth20.https=
oauth20.production.mode=
oauth20.subnets.whitelist=
oauth20.keystore.path=
oauth20.keystore.password=

oauth20.database=

mongodb.uri=

redis.sentinels=
redis.master=

hazelcast.cluster.name=
hazelcast.password=
hazelcast.cluster.members=

custom.classes.jar=
user.authenticate.class=
custom.grant_type=
custom.grant_type.class=

