oauth20.host=
oauth20.port=
oauth20.database=
oauth20.https=
oauth20.production.mode=
oauth20.subnets.whitelist=
oauth20.keystore.path=
oauth20.keystore.password=
db_uri=
redis.sentinels=
redis.master=
apifest-oauth20.nodes=
custom.classes.jar=
user.authenticate.class=
custom.grant_type=
custom.grant_type.class=
hazelcast.password=
